@charset "utf-8";

/* 같은 이름이나 종류의 선택자인 경우 */
h1 {
  color: coral;
  color:blueviolet; /*같은 특성이 적용된 경우 아래쪽에 작성된 값이 우선 적용 */
}
/*같은 이름과 종류의 선택자인 경우 아래쪽에 작성된 값이 우선 적용 */
h1 {
  color: deeppink;
}

/*같은 선택자가 아닌 다른 종류 선택자인 경우 */

.box {/*클래스 선택자(3) */
  background-color: #ffd166;
}
#box1 {/* 아이디 선택자(5) */
  background-color: rgb(113, 113, 211);
}
section {/* 타입 선택자(1) */
  background-color: #ddd;
}
#box2 {
  background-color: #70d6ff;
}
.bg1 {
  background-color: rgb(255, 228, 251) !important;
  /* 주의!! !important 기본 우선 순위가 무시되며 무조건 적용, 꼭 필요한 경우에만 주의해서 작성. */
}

.color {
  color: cadetblue;
}