/* 1200px 고정값 주기 실패했습니다... (༼;´༎ຶ ۝ ༎ຶ༽) 그냥 여기저기 다 안맞는듯욥 */
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #feffbd;
}
body::webkit-scrollbar-thub {
  background-color: #ca5f5f;
  border: 1px solid;
  border-radius: 5px;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
menu {
  list-style: none;
}
.main {
  background-color: #e9d3e2;
  padding: 100px;
  text-align: center;
  width: 100%;
  height: 1200px;
  margin-bottom: 0;
}


/*** 헤더 ***/
header {
  background-color: rgb(255, 211, 211);
  font-family: '나눔스퀘어라운드','맑은 고딕', 돋움, sans-serif;
  font-weight: bold;
  text-align: center;

  width: 100%;/* 화면 꽉차게 */
  height: 100px;
  position: fixed;/* 해더 밑에 있는 (해더 h1) 앱솔루트의 부모 요소에 기준이 될 수 있게 미리 넣어둔것 */
  top: 0;
  left: 0; right: 0;
  margin: auto;
  
}
/*** 로고 ***/

header h1 {
  background-color: rgb(226, 138, 138);
  font-size: 30px;
  width: 100px; height: 50px;
  line-height: 50px;/* height 값과 같이 하면 중앙정렬 됨 */

  position: absolute;
  left: 5%; top: 10%;
  
}
header h1 a {
  color:#55277a;
}

/*** 유틸리티 ***/
header .utill {
  background-color: rgb(214, 182, 207);

  position: absolute;
  right: 10px; top: 0;
  
  padding: 2px 4px;
}
header .utill li {
  color: #fff;
  font-size: 10px;
  vertical-align: middle;
  padding: 0 2px;
}
header .utill a {
  color: #fff;
  font-size: 16px;
}
header .utill a:hover {
  color: black;
}
/* 메뉴 */
header .gnb {
  font-family: '나눔스퀘어라운드','나눔 고딕',굴림,sans-serif;
  background-color: rgb(206, 145, 170);
  padding: 0;margin: 10px;

  position: absolute;
  right: 0; bottom: 0;
}
header .gnb li a {
  text-transform: capitalize;
  color: #fff;
  font-size: 20px;

  display: block;
  padding: 10px 28px;
}
header .gnb li a:hover {
  background-color: rgb(226, 167, 201);
}
