@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Foldit:wght@300&family=Pacifico&family=Satisfy&display=swap');

/*
body {
  background-color: rgb(234, 247, 252);
  font-size: 30px;
  
}

header {
  padding: 250px 400px;
}
h1 {
  font-family: "Pacifico",Arial, Helvetica, sans-serif;
  font-size: 12rem;
  font-weight: 300;
  color: rgb(90, 90, 90);
  margin: 20px;
}
p {
  color: rgb(128, 128, 128);
  padding: 20px;
}
input {
  padding: 5px 10px;
  background-color: #ffffff00;
  border: #969ee9 solid 3px;
  border-radius: 30px;
  width: 400px; height: 40px;
}
a {
  border: 3px solid #969ee9;
  padding: 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: #969ee9;
  margin: 10px;
}
.mini {
  font-family: "Pacifico", 'Times New Roman', Times, serif;
}
article {
  width: 100vw; height: 100vh;
  display: block;
  position: relative;
}
img {
  width: 1200px; height: 100vh;
  object-fit: cover;
  position: absolute;
}
main article:nth-child(1) {
  background-color: rgb(203, 227, 255);
}
main article:nth-child(1) p {
  width: 40vw;
}
main article:nth-child(1) img {
  top: 0; right: 0;
}
main article:nth-child(2) {
  top: 0; left: 0;
  width: 40%;
  flex-direction: column;
}
main article:nth-child(4) {
  background-color: rgb(203, 227, 255);
  top: 0; right: 0;;
}
main article:nth-child(4) img {
  top: 0; left: 0;
}*/
body {
  background-color: aliceblue;
}
h1 { font-size: 20rem; margin: 80px 300px; color: rgb(99, 99, 99); font-family:"Satisfy", Arial, Helvetica, sans-serif;}
p {
  font-size: 3rem; color: rgb(143, 143, 143); margin: 0; margin-left: 300px;
}
a {
  border: 3px solid #969ee9;
  padding: 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: #969ee9;
  margin: 10px;
}
header a {
  margin: 0 300px;

}
header {
  width: 100vw; height: 100vh;
}
main .box {
  background-color: rgb(169, 197, 248);
}