@charset "utf-8";

body {
  margin: 0;
  font-size: 18px;
}
.border {
  border: 1px solid #000;
  padding: 20px;
}

.container {/* 1042px */
  margin:7px auto;
  width: 1000px;
}
.container h1 {
  margin: 0;
  padding: 44px 20px;
}
.container main {
  margin:20px 0;
  background-color: lightblue;

  overflow: hidden;/* 자식 요소에 float로 인해 높이값 인식이 안되는 문제 해결 */
}
.container main article {/* 440px */
  float: left;
  width: 358px;/* 440 - b2 - p40 */
  margin:0 20px;
  /* box-sizing: border-box; */
}
.container main aside {/* (container 컨텐츠 영역 1000 - article 실제크기 440) / 2 = 280 */
  float: left;
  width: 238px;/* 280 - b2 - p40 */
  background-color: #000;
  color: #fff;
}