@charset "utf-8";

body {
  margin: 0;
  font-size: 18px;
}
.border {
  border: 1px solid #000;
  padding: 20px;
}

.container {/* 1042px */
  margin:7px auto;
  width: 1000px;
}
.container h1 {
  margin: 0;
  padding: 44px 20px;
}
.container main {
  margin:20px 0;
  background-color: lightblue;
}
.container main article {/* 602 */
  float: left;
  width: 560px;
}
.container main aside {/* 368 */
  float: left;
  width: 326px;
  background-color: #000;
  color: #fff;

  margin-left:30px;/* container w1000 - article 실제크기 602 - aside 실제크기 368 */
}

.container main::after {/* clearfix */
  content: "";
  display: block;
  clear: both;
}

/* .container footer {
  background-color: #ddd;
  clear:both; float 적용된 형제들 사이에서 단순 줄바꿈이 필요할 때
  margin-top:50px;
} */

