@charset "utf-8";

html {
  font-size: 17px;
}
/***** header *****/
header .header-wrapper {
  width: 98%;
  height: 80px;
}
header h1 {
  width: 100px;
  height: 80px;
  line-height: 80px;
}
header h1 a {
  display: flex;
  height: 100%;
  align-items: center;
}
header nav .mobile-btn {
  display: none;
}
header nav .global-nav {
  display: flex;
  position: static;
  padding: 0;
}
header nav .global-nav a {
  border: none;
  height: 80px;
  display: grid;
  place-items: center;
  padding: 0 20px;
}
header nav .global-nav a:hover {
  background-color: #959bbe;
  color: #fff;
}

/*** main-slide ***/
.main-slide {
  height: 700px;
}

.main-slide .main-img {
  height: 700px;
}

/*** main-intro ***/
.main-intro {
  margin: 100px auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
}
.main-intro section {
  padding: 50px;
}
.main-intro section:nth-child(odd) {
  border-right: 1px solid var(--gray-color);
}
.main-intro section:nth-child(3) {
  border-bottom: none;
}
.main-intro section h3 {
  font-size: 2.1rem;
}

/* main-grid */
.main-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 40vh;
  gap: initial;
}
.main-grid section {
  height: auto;
}
.main-grid .grid-bg1 {
  grid-column: span 2;
  grid-row: span 2;
}
.main-grid .grid-bg4 {
  height: auto;
  grid-column: -1 / -3;
}
.main-grid .grid-bg5 {
  height: auto;
  grid-column: span 2;
}

/*** main-business ***/
.main-business .main-business-list {
  grid-template-columns: 1fr 1fr;
  gap: 4vw 2vw;
}
.main-business .main-business-list figcaption {
  width: 80%;
  margin: 20px auto;
}
/*** main-youtube ***/
.main-youtube {
  padding-top: 80px;
}
.main-youtube .main-youtube-txt {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.main-youtube .main-youtube-txt h2 + p {
  width: 50%;
}

/*** main-service ***/
.main-service {
  width: 100%;
}
.main-service .service-gallery {
  gap: 1vw;
}
.main-service .service-gallery li {
  width: 20vw;
  transform: scale(0.9);
}
.main-service .service-gallery li .on {
  transform: scale(1);
}
/*** main-location ***/
.main-location
  .location-menu
  .location-office
  .location-map
  .location-info
  li
  strong {
  display: inline-block;
  width: max(150px, 10%);
}

/*** main-talk ***/
.main-talk .color-layer .ghost-btn:hover {
  background-color: #ffffffa1;
  color: #000;
}

/***** footer *****/
footer .footer-info {
  flex-direction: row;
  justify-content: space-evenly;
}
