@charset "utf-8";


body {
  text-align: center;
  max-width: 100vw;
}
img {
  width: 40px;
  height: 40px;
}
button {
  width: 120px;
  height: 40px;
  border: #fff solid 1px;
  background: #fff;
  transition: 0.3s;
}
button a {
  background: none;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 10px;
}
button:hover {
  background: none;
}
button:hover a {
  color: #fff;
}
.flex {
  display: flex;
  justify-content: space-between;
}
p {
  padding: 0;
  margin: 0;
}
/**** header ****/
header {
  /* 원래는 스크롤 내리면 메뉴바가 위로 올라가면서 사라짐, 스크롤을 위로 올리면 다시 나타나는 효과 적용되어있음 */
  width: 100vw;
  position: fixed;
  z-index: 999; /* position으로 메뉴가 뒤로 밀림, 이걸 해결하기 위해 최상위 값으로 z-index 999 줬음 */
}
header nav {
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 2vh;
}
header .header-logo img {
  width: 80%;
  height: 80%;
}
header .header-menu {
  display: flex;
  width: 50%;
  list-style: none;
  justify-content: space-around;
}
header .header-menu li {
}
header .header-menu li a {
  width: 17%;
  text-decoration: none;
  text-align: center;
  color: #fff;
}
header .header-icon {
  filter: invert(93%) sepia(94%) saturate(25%) hue-rotate(22deg)
    brightness(107%) contrast(106%);
}

/**** main ****/
/*** main background img ***/
main .main-img {
  background: url(./images/main-photo.png) no-repeat 50% / cover;
  max-width: 100vw;
  height: 100vh;
  position: relative;
}
main .yellow-box {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55vw;
  height: 45vh;
  background: rgba(255, 187, 0, 0.801);
  color: #fff;
  padding: 80px;
}
main .yellow-box::after {
  content: "";
  display: block;
  width: 20vw;
  height: 1px;
  border: 1px solid #fff;
  top: 130px;
  left: -90px;
  position: absolute;
}
main .yellow-box h1 {
  font-size: 70px;
  padding: 20px;
}
main .yellow-box p {
  padding: 20px;
}
main .yellow-box a img {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: rotate(-90deg);
  filter: invert(93%) sepia(94%) saturate(25%) hue-rotate(22deg)
    brightness(107%) contrast(106%);
  background: #ffffff9a 50%;
  border-radius: 50%;
}
/*** main section ***/
main .business-information1 {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  padding-top: 130px;
}
main .business-information1 .text-box {
  margin: 0 auto;
  padding-bottom: 20px;
}
main .business-information1 .text-box h3 {
  font-size: 32px;
  font-weight: 700;
  /* position: relative; */
}
/* main .business-information1 .text-box h3::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  border: 1px solid orange;
  transform: rotate(180deg);
  position: absolute;
  top: 70px;
  left: 48%;
  right: 50%;
} */
main .business-information1 p {
  font-size: 12px;
  margin: 0 auto;
}

main .business-information1 .business-icon-box {
  justify-content: center;
  padding-bottom: 80px;
}
main .business-information1 .business-icon-box .box {
  flex-direction: column;
  width: 350px;
  height: 300px;
  font-size: 16px;
}
main .business-information1 .business-icon-box .box p {
  font-size: 14px;
  font-weight: 400;
  width: 85%;
  text-align: center;
}
main .business-information1 .box:nth-child(1) {
  background: url(./images/Group\ 69.png) no-repeat 50%;
  padding-top: 220px;
}
main .business-information1 .box:nth-child(2) {
  background: url(./images/파손유리잔.png) no-repeat 50%;
  padding-top: 220px;
}
main .business-information1 .box:nth-child(3) {
  background: url(./images/트럭아이콘.png) no-repeat 50%;
  padding-top: 220px;
}
/* video */
main .video {
  max-width: 100vw;
  height: 80vh;
  background: url(./images/main-video.png) no-repeat 30% 20%;
  padding-bottom: 50px;
  position: relative;
}
main .video .play-video {
  padding: 100px;
}
main .video .play-video h2 {
  padding: 30px;
  font-size: 32px;
}
main .video .play-video h4 {
  line-height: 1.5;
}
main .box {
  width: 100%;
  height: 500px;
  justify-content: space-evenly;
}
main .box .text-box {
  width: 300px;
  height: 50%;
  padding: 40px;
  background-color: #fff;
  z-index: 999;
  /* background: url(./images/text-box.png) no-repeat 50% / 100%; */
  box-shadow: 0px 0px 2px #727272;
}
main .box .text-box h4 {
  padding: 20px 0;
}
main .box .text-box p {
  padding: 10px;
  font-size: 14px;
}
main .video .box-bottom {
  position: absolute;
  background-color: #ececec;
  width: 100%;
  padding: 100px 0;
  top: 500px;
  justify-content: space-around;
  margin: 100px 0;
}
main .video .box-bottom .box1 {
  width: 400px;
  font-weight: 700;
}
main .video .box-bottom .box1 h3 {
  font-size: 30px;
}
main .video .box-bottom .box1 h5 {
  font-size: 20px;
}
main .video .box-bottom .box2 p {
  width: 300px;
  font-size: 15px;
}
.product-photo {
  max-width: 100vw;
  margin-top: 200px;
}
.product-photo .text-box {
  margin: 0 auto;
  width: 1000px;
  padding-top: 120px;
}
.product-photo .text-box p {
  font-size: 18px;
}
.product-photo .text-box h3 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  padding-bottom: 70px;
}
.product-photo .text-box h3::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  border: 1px solid orange;
  transform: rotate(180deg);
  position: absolute;
  top: 50px;
  left: 45%;
  right: 50%;
}
.product-photo .photo-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.product-photo .photo-box .photo {
  width: 20%;
  margin: 40px 20px;
}
.product-photo .photo-box img {
  width: 100%;
  height: 100%;
}
.business-information2 {
  max-width: 100vw;
  height: 50vh;
  padding-top: 50px;
  margin-bottom: 50px;
}
.business-information2 p {
  font-size: 14px;
}
.business-information2 h3 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  padding-bottom: 70px;
}
.business-information2 h3::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  border: 1px solid orange;
  transform: rotate(180deg);
  position: absolute;
  top: 50px;
  left: 47%;
  right: 50%;
}
.business-information2 p,
h3 {
  padding-bottom: 30px;
}
.business-information2 .icon {
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-around;
}
.business-information2 .icon .icons img {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.business-information2 .icons h4 {
  color: #1c1c1c;
  font-size: 20px;
  font-weight: 600;
}
main .business-information2 .memo {
  align-items: flex-end;
  max-width: 1400px;
  margin: 200px auto;
}
.business-information2 .memo .memo-box {
  width: 500px;
  position: relative;
  top: 0;
  line-height: 1.5;
  justify-content: space-around;
}
.business-information2 .memo .memo-box .txt-png {
  width: 350px;
  height: 100%;
}
.business-information2 .memo .memo-box p {
  position: absolute;
  top: 25px;
  width: 300px;
  font-size: 14px;
  text-align: left;
}
.business-information2 .txt-box-png {
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-around;
  position: relative;
  left: -20px;
  top: -180px;
}
.business-information2 .txt-box-png .txt-png-bottom h4 {
  line-height: 40px;
  margin-left: 15px;
  font-weight: 600;
  color: #1c1c1c;
}
/* 견적문의 페이지 */
main .airplane-box {
  width: 1800px;
  margin: 0 auto;
}
main .airplane-box .airplane {
  margin-top: 600px;
  justify-content: center;
  max-width: 1900px;
}

main .airplane-box .airplane img {
  width: 800px;
  height: 100%;
}
main .airplane-box .airplane-txt {
  background-color: #252525;
  width: 500px;
  color: #cacaca;
  padding: 50px;
}
main .airplane-box .airplane-txt .gray-btn {
  background-color: #acacacb4;
  font-size: 32px;
  color: #3b3b3b;
  border: 2px solid #979797;
  width: 200px;
  height: 70px;
  margin: 20px;
}
main .airplane-box .airplane-txt .gray-btn:hover {
  color: #fff;
  background-color: #aaaaaa8e;
}
main .airplane-box .airplane-txt p {
  line-height: 2;
  margin: 10px;
}
main .airplane-box .airplane-txt span {
  color: #e66f20;
  font-size: 70px;
}
/* 단색배경 이미지 구간 !!!*/
.global-people {
  max-width: 1900px;
  min-width: 1200px;
  margin-top: 200px;
}
.global-people p {
  font-size: 18px;
}
.global-people h3 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  padding-bottom: 70px;
}
.global-people h3::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  border: 1px solid orange;
  transform: rotate(180deg);
  position: absolute;
  top: 50px;
  left: 47%;
  right: 50%;
}
.global-people .box .img-box {
  width: 400px;
  padding-top: 50px;
}
.global-people .box .img-box img {
  width: 50%;
  height: 50%;
}
/* .product-photo {
  max-width: 100vw;
  margin-top: 200px;
}
.product-photo .text-box {
  margin: 0 auto;
  width: 1000px;
}
.product-photo .text-box p {
  font-size: 18px;
}
.product-photo .text-box h3 {
  font-size: 32px;
  font-weight: 700;
  position: relative;
  padding-bottom: 70px;
}
.product-photo .text-box h3::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  border: 1px solid orange;
  transform: rotate(180deg);
  position: absolute;
  top: 50px;
  left: 45%;
  right: 50%;
} */
/**** footer ****/
footer {
  background-color: #1c1c1c;
  color: #fff;
  display: flex;
  text-align: left;
  padding: 70px;
  line-height: 1.7;
  max-width: 100vw;
  justify-content: center;
}
footer .footer-header,
.footer-link,
.footer-address {
  padding: 0 50px;
  border-right: 1px solid #4b4b4b;
}
.footer-header h2 {
  font-weight: 700;
  font-size: 45px;
  padding: 20px 0;
}
footer .footer-link {
  padding-top: 80px;
}
footer .footer-last {
  padding-top: 80px;
}
footer a {
  text-decoration: none;
  color: #fff;
}
.footer-address {
  padding: 70px;
}
.footer-last {
  padding-left: 30px;
}
.last {
  background-color: #141414;
  color: #fff;
  text-align: left;
  padding: 20px;
}
