@charset 'utf-8';

a {
  color: inherit;
  text-decoration: none;
}
/* nav */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #cac1ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  font-size: 1.1rem;
  font-weight: bold;
}

nav h1 {
  margin: 10px;
  padding: 10px;
  background-color: #ffc7c7;
  font-size: 1.5rem;
  font-weight: bold;
}
nav .global_nav {
  display: flex;
  text-transform: capitalize;
}
nav .global_nav a {
  display: block;
  margin: 0 16px;
}
nav .global_nav a:hover {
  color: #5135b8;
}

/* footer */
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

#my-swiper {
  width: 100%;
  margin-top: 60px;
  height: 100vh;
}
#my-swiper .swiper-wrapper .swiper-slide {
  background: no-repeat 50% / cover;
  text-indent: -9999px;
}
#my-swiper .swiper-wrapper #bg1 {
  background-image: url(https://placehold.co/1000x500/FFD700/000?text=bg1);
}
#my-swiper .swiper-wrapper #bg2 {
  background-image: url(https://placehold.co/1000x500/F0E68C/000?text=bg2);
}
#my-swiper .swiper-wrapper #bg3 {
  background-image: url(https://placehold.co/1000x500/263A29/000?text=bg3);
}
#my-swiper .swiper-wrapper #bg4 {
  background-image: url(https://placehold.co/1000x500/9ACD32/000?text=bg4);
}
#my-swiper .swiper-wrapper #bg5 {
  background-image: url(https://placehold.co/1000x500/20B2AA/000?text=bg5);
}
#my-swiper .swiper-wrapper #bg6 {
  background-image: url(https://placehold.co/1000x500/2E8B57/000?text=bg6);
}
#my-swiper .scroll-style {
  background-color: #fff;
}
.swiper-scrollbar-drag {
  background-color: orange;
}
