@charset 'utf-8';

body {
  background-color: #222;
}

.slide_wrapper {
  width: 80vw;
  height: 80vh;
  margin: 50px auto;
  overflow: hidden;
  /* background-color: orange; */
  position: relative;
}

.slide_wrapper .btn_group {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  z-index: 100;
}

.slide_wrapper .btn_group .btn {
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  position: relative;
}

.slide_wrapper .btn_group .btn:hover {
  line-height: 1.2;
}

.slide_wrapper .btn_group .btn:first-child::after {
  content: "";
  background-color: #000;
  width: 1px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* 슬라이드 박스 */
.slide_wrapper .slide_item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
}

.slide_wrapper .slide_item .slide_img {
  background: no-repeat 50% / cover;
  width: 60%;
  height: 100%;
  text-indent: -9999px;

  transition: 0.6s ease-in-out;
  transform: translateX(100%);

  order: 2;
}

.slide_wrapper .slide_box1 .slide_img {
  background-image: url(https://placehold.co/800x600/30A2FF/090580?text=img1);
}

.slide_wrapper .slide_box2 .slide_img {
  background-image: url(https://placehold.co/800x600/00C4FF/090580?text=img2);
}

.slide_wrapper .slide_box3 .slide_img {
  background-image: url(https://placehold.co/800x600/FFE7A0/090580?text=img3);
}

.slide_wrapper .slide_box4 .slide_img {
  background-image: url(https://placehold.co/800x600/AEE2FF/090580?text=img4);
}

.slide_wrapper .slide_item .text_box_wrapper {
  order: 1;
  width: 40%;
  padding: 40px;
}

.slide_wrapper .slide_item .text_box_wrapper p {
  margin: 30px 0;
}

.slide_wrapper .slide_item .text_box_wrapper .moving {
  transform: translateY(35%);
  transition: 0.4s ease-in-out;
  opacity: 0;
}

.slide_wrapper .slide_item.active {
  z-index: 10;
}

.slide_wrapper .slide_item.active .slide_img {
  transform: translateX(0);
}

.slide_wrapper .slide_item.active .text_box_wrapper h3,
.slide_wrapper .slide_item.active .text_box_wrapper h2,
.slide_wrapper .slide_item.active .text_box_wrapper p,
.slide_wrapper .slide_item.active .text_box_wrapper .text_btn {
  transform: translateY(0);
  opacity: 1;
}
