@charset "utf-8";

@import url("../assets/css/pretendardvariable-dynamic-subset.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",Dotum, sans-serif;
  font-weight: 400;
  text-align: center;
}
main {
  background-color: #f8ffef;
  height: 200vh;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 100px;
}
h1 {
  background-color: #6da171;
  color: #fff;
  font-family: 'Castoro Titling', Georgia, 'Times New Roman', Times, serif;

  font-size: 1.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}
nav {
  background-color: #e0eedd;
  width: 100%;
  position: sticky;
  top: 0;
}
/*메뉴*/
.gnb {
  
  width: 480px;
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: center;
}
/* 각각 대메뉴의 제목 */
.gnb li strong {
  display: block;
  font-weight: 800;
  font-size: 1.2rem;
  width: 120px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.gnb > li > strong:hover {
  background-color: #6da171;
}
.gnb .sub_menu {/* 소메뉴 */
  display: none;
  background-color: #f3ffc9;
  height: 200px;
  border-right: 1px solid #000;
}
.gnb .sub_menu a {
  display: block;
  color: #000;
  height: 30px;
  line-height: 30px;
}
.gnb .sub_menu a:hover {
  background-color: #f0f0f0;
}
.gnb > li:last-child .sub_menu {
  border-right: none;
}

.gnb:hover .sub_menu {/*.gnb에 마우스를 올렸을때 .sub_menu가 */
  display: block;
}
/*
body {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}
.gnb {
  display: flex;
  justify-content: center;
  
  border-bottom: 1px solid #78b64e;
  justify-content: space-evenly;
  list-style: none;
}
.gnb > li > a {
  display: block;
}
.gnb li a {
  text-decoration: none;
  color: black;
}
.gnb .sub_menu {
  padding: 0;
  color: #fff;
  background-color: #78b64e;
}
.gnb > .sub_menu li:hover {
  background-color: #4a6d32;
}
.gnb .sub_menu a {
  display: block;
  color: #fff;
}*/